$white: #ffffff;
$black: #000000;
$darkGray: #34495e;
$lightGray: #7f8c8d;

$turquoise: #1abc9c;
$greenSea: #16a085;
$lightBlue: #3498db;
$darkBlue: #2980b9;

$red: #e74c3c;

$box-shadow-webkit: 0px 0px 9px 3px rgba(41,41,41,.25);
$box-shadow-moz: 0px 0px 9px 3px rgba(41,41,41,.25);
$box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
